<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - Manga Store</title>
  {{> styles}}

  {{#if
    serverElapsedTime}}
  <meta name="server-elapsed-time" content="{{serverElapsedTime}}">
  {{/if
  }}
</head>
<body>
{{> header}}

<main class="main-content">
  <div class="container">
    {{{body}}}
  </div>
</main>

{{> footer}}
{{> scripts}}
{{#if
  serverElapsedTime}}
  <script>
    window.serverElapsedTime = {{serverElapsedTime}};
  </script>
{{/if
}}
</body>
</html>