<footer class="footer">
  <div class="footer__content">
    <div class="footer__section">
      <h3 class="footer__subtitle">Информация</h3>
      <p class="footer__info">
        © 2025 Егор Иващенко M3314<br>
        Лабораторные работы по Web
      </p>
    </div>
  </div>

  <div class="footer__load-time">
    <small>Время загрузки страницы: <span id="loadTime">0</span> с</small>
  </div>
</footer>