<header class="head">
  <div class="head__branding">
    <img src="/images/icon.ico" alt="Логотип" width="100" height="100" class="head__logo">
    <h1 class="head__title">САМЫЕ КРУТЫЕ ЦИТАТЫ</h1>
  </div>

  {{> navigation}}

  {{> userInfo}}
</header>