<div class="head__user-info">
  {{#if isAuthenticated}}
    <span class="head__user-greeting">
      Привет, <strong>{{username}}</strong>!
    </span>
    <div class="head__user-actions">
      <a href="/users/profile" class="btn btn-small btn-secondary">Профиль</a>
      <a href="/logout" class="btn btn-small btn-outline">Выход</a>
    </div>
  {{else}}
    <div class="head__auth-links">
      <a href="/login" class="btn btn-small btn-primary">Вход</a>
      <a href="/register" class="btn btn-small btn-secondary">Регистрация</a>
    </div>
  {{/if}}
</div>