<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <i class="fas fa-book-open"></i>
          <span>Manga Store</span>
        </a>
      </div>

      {{> navigation}}

      <div class="header-actions">
        {{> user-info}}
      </div>
    </div>
  </div>
</header>